:root {
    --primary-green: hsl(171, 66%, 44%);
  --primary-blue: hsl(233, 100%, 69%);
  --neutral-gray-700: hsl(210, 10%, 33%);
  --neutral-gray-500: hsl(201, 11%, 66%);

  --font-main: 'Bai Jamjuree', sans-serif;
  --base-font-size: 18px;
}

body {
    font-family: var(--font-main);
    font-size: var(--base-font-size);
}

h1 h2 h3 h4 h5 h6 {
    color: var(--neutral-gray-700);
}
